services:
  mongodb:
    image: mongo:7.0
    container_name: connector_mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin_password
      MONGO_INITDB_DATABASE: connector_db
    ports:
      - "27017:27017"
    volumes:
      - ./storage/mongo:/data/db
    command: mongod --auth --bind_ip_all
    profiles:
      - test-connector-mongodb

  mariadb:
    image: mariadb:11.2
    container_name: connector_mariadb
    environment:
      MYSQL_ROOT_PASSWORD: admin_password
      MYSQL_DATABASE: connector_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin_password
    ports:
      - "3306:3306"
    volumes:
      - ./storage/maria:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    profiles:
      - test-connector-mariadb

  clickhouse:
    image: clickhouse/clickhouse-server:23.3
    container_name: connector_clickhouse
    environment:
      CLICKHOUSE_DB: connector_db
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: admin_password
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1  # Включаем управление пользователями
    ports:
      - "8123:8123"  # HTTP порт
      - "9000:9000"  # Native порт
    volumes:
      - ./storage/clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    profiles:
      - test-connector-clickhouse